In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#machine = pd.read_csv('machine.txt', sep='\t')
machine = pd.read_csv('machine2.txt', sep=' ')
machine.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [3]:
machine.shape

(10, 2)

In [4]:
machine = pd.DataFrame(machine)

In [5]:
machine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   New_machine  10 non-null     float64
 1   Old_machine  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

### One tailed t-test   
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [6]:
# H0: The mean results of new machines equals or less than mean of old machines =<
# H1: The mean results of new machines more than mean of old machines >

In [7]:
old_m_mean = machine['Old_machine'].mean()
print(old_m_mean)

43.230000000000004

In [8]:
st.ttest_1samp(machine['New_machine'], old_m_mean)

Ttest_1sampResult(statistic=-5.04331853503833, pvalue=0.0006966376076759033)

In [9]:
print('p value (single tailed): ',st.ttest_1samp(machine['New_machine'], old_m_mean)[1]/2)

p value (single tailed):  0.00034831880383795163

 **Answer:**   
 t-test shows that  $H_0$ can be rejected.

In [10]:
new_m_mean = machine['New_machine'].mean()
print(new_m_mean)

42.14

### Matched Pairs Test

In [11]:
pokemon = pd.read_csv('pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [12]:
# H0: the defense and attack scores are equal =
# H1: the defense and attack scores are not equal !=

In [13]:
st.ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

**Answer:**   
 P-value shows that  $H_0$ can be rejected.

### Inferential statistics - ANOVA   
**Part 1**   
You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power.

In [14]:
df = pd.read_excel('anova_lab_data.xlsx')
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [15]:
df.shape

(15, 2)

In [20]:
df['Power '].value_counts()

200 W    5
160 W    5
180 W    5
Name: Power , dtype: int64

In [19]:
df = df.rename(columns={'Power ': 'Power'})

In [21]:
df['Power'].value_counts()

200 W    5
160 W    5
180 W    5
Name: Power, dtype: int64

In [ ]:
# H0: there is no difference in the average etch rate for different power levels.
#H1: there are differences in the average etch rate for different power levels.
# significance level is 0.05
# degrees of freedom of our model is 14, where 15(our df) - 1 (column [Power])

In [22]:
df['power_count'] = df.groupby('Power').cumcount() ##is the new index 

df_pivot = df.pivot(index='power_count', columns='Power', values='Etching Rate')
df_pivot.columns = ['Power_'+str(x) for x in df_pivot.columns.values]
df_pivot.head()

             Power_160 W  Power_180 W  Power_200 W
power_count
0                   5.43         6.24         8.79
1                   5.71         6.71         9.20
2                   6.22         5.98         7.90
3                   6.01         5.66         8.15
4                   5.59         6.60         7.55

In [23]:
st.f_oneway(df_pivot['Power_160 W'], df_pivot['Power_180 W'], df_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

**Answer:**  
P-value shows that  $H_0$ can be rejected (lower then 0.05). Which means there are differences in the average etch rate for different power levels.