In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
url = "https://www.billboard.com/charts/hot-100"

In [6]:
response = requests.get(url)
response.status_code

200

In [7]:
soup = BeautifulSoup(response.content, "html.parser")

In [1]:
#soup

In [9]:
# <h3 id="title-of-a-story" class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet">
# We Don't Talk About Bruno
# </h3>

In [10]:
chart = soup.find_all('ul', class_='o-chart-results-list-row')

In [11]:
artist = []
song =[]
for i in chart:
    a = i.select('ul > li')[3].select('li > ul > li')[0].select('li > span')[0].get_text(strip=True)
    s = i.select('ul > li')[3].select('li > ul > li')[0].select('li > h3')[0].get_text(strip=True)
    artist.append(a)
    song.append(s)

In [12]:
len(artist)

100

In [13]:
len(song)

100

In [14]:
hot_100 = pd.DataFrame({'song':song, 'artist':artist})

In [15]:
hot_100

,song,artist
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz..."
1,Easy On Me,Adele
2,Heat Waves,Glass Animals
3,Stay,The Kid LAROI & Justin Bieber
4,Super Gremlin,Kodak Black
...,...,...
95,No Love,Summer Walker & SZA
96,Megan's Piano,Megan Thee Stallion
97,Eazy,The Game & Kanye West
98,Fish Scale,YoungBoy Never Broke Again
99,"Colombia, Mi Encanto",Carlos Vives

### The Challenge

In [16]:
def recommend(user_song, data):
    import random
    random_index = random.choice(range(data.shape[0]))
    if user_song.lower() in list(data['song'].str.lower()):
        print('your song "' + song +'" is in the top 100!')
        print('recommendation to listen: "{}" by {}'.format(data.loc[random_index]['song'], data.loc[random_index]['artist']))
    else:
        print('your song "' + song +'"" not in the list top 100, sorry.')

In [17]:
song = input('Please enter song title:  ')

Please enter song title:  yazt

In [18]:
recommend(song, hot_100)

your song "yazt"" not in the list top 100, sorry.

### Expand the project

In [19]:
pf500 = "https://en.wikipedia.org/wiki/The_Pitchfork_500"

pf500_response = requests.get(pf500)
pf500_response.status_code

pf500_soup = BeautifulSoup(pf500_response.content, "html.parser")

In [20]:
pf_song = []
pf_artist = []

for period in pf500_soup.find_all("div", class_="div-col"):
    songs = period.select('div > ul > li')
    for song in songs:
        i = song.find_all('a')
        if len(i) == 2:
            a = i[0].get_text(strip=True)
            t = i[1].get_text(strip=True)
            pf_artist.append(a)
            pf_song.append(t)

pf500_df = pd.DataFrame({'song':pf_song, 'artist':pf_artist})
pf500_df

                                   song                artist
0                              "Heroes"           David Bowie
1                         The Passenger              Iggy Pop
2                         Street Hassle              Lou Reed
3                  Trans-Europe Express             Kraftwerk
4                                   1/1             Brian Eno
..                                  ...                   ...
467                         Young Folks  Peter Bjorn and John
468                     Boy from School              Hot Chip
469                               Grass     Animal Collective
470  The Other Side of Mt. Heart Attack                 Liars
471                                Bros            Panda Bear

[472 rows x 2 columns]

In [21]:
sum(pf500_df.duplicated())

0